* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    align-items: center;
    height: 100vh;
    justify-content: center;
}

.container {
    display: grid;
    grid-template-columns: 300px 500px 300px;
    justify-content: center;
}

.board {
    border: 1px solid black;
    height: 500px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.button-container {
    grid-column: 1 / 4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.score {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.player1-name, .player2-name {
    font-size: 40px;
}

.player1-score, .player2-score {
    font-size: 60px;
}

.cell {
    border: 1px solid black;
}