* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    align-items: center;
    height: 100vh;
    justify-content: center;
    background-color: rgb(51, 51, 51);
    color: white;
}

.container {
    display: grid;
    grid-template-columns: 300px 500px 300px;
    justify-content: center;
}

.board {
    border: 1px solid white;
    height: 500px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.button-container {
    grid-column: 1 / 4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.score {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.player {
    font-size: 40px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.player1-score, .player2-score {
    font-size: 60px;
}

.cell {
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 80px;
}

dialog {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: none;
    padding: 20px;
}

dialog::backdrop {
    background-color: rgba(63, 63, 63, 0.7);
}

.current-player {
    animation: blinker 1s linear infinite;
}

@keyframes blinker {
    50% {
      opacity: 0;
    }
}